/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "./app.primer.css";
@import "~@github/details-dialog-element/index.css";
@import "./app.ambrosia.scss";

html{
  height: 100%;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #36393F;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

button {
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

summary {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.border-none {
  border: none !important;
}


.settings-detail {
  position: inherit;
  margin: inherit;
  top: inherit;
  left: inherit;
  z-index: inherit;
  max-height: inherit;
  max-width: inherit;
  transform: none;
  width: inherit;
}


.dialog-header {
  background-color: #42464D;
  color: white;
  border-bottom: 1px solid black;
}

.dialog-header .selected {
  background-color: #2F3136;
}

.dialog-body {
  background-color: #36393F;
  color: white;
}

.dialog-body button {
  background-color: #5D6AAB;
  color: white;
  border: 1px solid black;
}

.ambrosia-dialog .btn-cancel {
  background-color: #42464D;
  border: 1px solid black;
}

.ambrosia-dialog {
  border: 1px solid black;
}


/*   */

@import "./components/Pages/LibraryHomePage.css";
@import "./components/MessageBubble/MessageBubble.scss";
@import "./containers/Messaging/message.scss";
