$primary-purple: #5D6AAB;
$light-purple: #9BABFB;
$dark-purple: #606888;
$space-pruple: #36393F;
$dark-blue: #36393F;
$gray: #C4C4C4;
$light-gray: #CBCCCD;
$dark-gray: #2F3136;
$dark-gray-2: #3F4147;
