.main-header {
  background-color: #2f3136;
  color: white;
  height: 60px;
}

.play-btn {
  background-color: #606888;
}

.play-btn:hover {
  background-color: #5d6aab;
  cursor: pointer;
}

.play-btn.bright {
  background-color: #5d6aab;
}

.play-btn:disabled {
  background-color: #555C7D;
}

.game-table tbody tr:hover {
  background: rgba(79, 84, 92, 0.5);
  border-radius: 12px !important;
}

.game-table table {
  min-width: 400px;
  width: 95% !important;
}

.ambrosia-search{
  background: #202225;
  border: 1px solid black;
  border-radius: 8px;
  color: #C4C4C4;
}
