



.barContainer {
  background-color: #0c101c;
  display: inline-block;
  color: white;
  width: 100%;
}

.barContainer h5 {
  font-size: 18px;
}
.backButton{

}

.titleSearch{
  border-radius: 10px;
  padding-left: 5px;
}





